<div class="panel panel-default">
    <div class="panel-heading panel-toolbar">
      <h3 class="modal-title" style="color:blue;">{{title()}}</h3>
        <div class="button-close" ng-click="goHome()">
            <i class="fa fa-times-circle"></i>
        </div>
    </div>
    <div class="panel-heading">
        <div class="btn-toolbar" role="toolbar">
            <div class="col-lg-1">
                <div class="btn-group">
                    <button prevent-default class="btn btn-primary" title="Thêm mới" ng-click="create()"><i class="fa fa-plus"></i>&ensp;{{config.label.btnCreate}}</button>
                </div>

            </div>
            <div class="col-lg-10">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="filtered.summary" ng-enter="doSearch()">
                    <div class="input-group-btn">
                        <button class="btn btn-default" prevent-default title="search" ng-click="doSearch()"><span class="fa fa-search"></span>&ensp;{{config.label.btnSearch}}</button>
                        <a class="btn btn-default" title="show search advance" ng-click="filtered.isAdvance = !filtered.isAdvance">
                            <span class="fa"
                                  ng-class="{
                                  'fa-search-minus' : filtered.isAdvance,
                                  'fa-search-plus' : !filtered.isAdvance
                                  }">
                            </span>
                        </a>
                        <button class="btn btn-default" prevent-default title="refresh page" ng-click="refresh()"><span class="fa fa-retweet"></span>&ensp;{{config.label.btnRefresh}}</button>
                        <button class="btn btn-default" prevent-default title="go home" ng-click="goHome()"><span class="fa fa-undo"></span>&ensp;{{config.label.btnBack}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="filtered.isAdvance">
        <br>
        <div class="form-group">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">Từ ngày chứng từ</label>
                    <div>
                        <div class="add-input-zone">
                            <input class="input-border-form" type="text" ng-model="filtered.advanceData.tuNgay" placeholder="{{config.dateFormat}}"
                                   uib-datepicker-popup="{{config.dateFormat}}" is-open="_tuNgay" datepicker-localdate />
                            <div class="button-calender" ng-click="_tuNgay = !_tuNgay; config.delegateEvent($event);">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">Đến ngày chứng từ</label>
                    <div>
                        <div class="add-input-zone">
                            <input class="input-border-form" type="text" ng-model="filtered.advanceData.denNgay" placeholder="{{config.dateFormat}}"
                                   uib-datepicker-popup="{{config.dateFormat}}" is-open="_denNgay" datepicker-localdate />
                            <div class="button-calender" ng-click="_denNgay = !_denNgay; config.delegateEvent($event);">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">Số phiếu</label>
                    <input ng-model="filtered.advanceData.soPhieu" type="text" class="input-border-form">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">Người lập</label>
                    <input ng-model="filtered.advanceData.nguoiLap" type="text" class="input-border-form">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">Nội dung</label>
                    <input ng-model="filtered.advanceData.noiDung" type="text" class="input-border-form">
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover no-margin-vertical">
            <thead>
                <tr class="headings">
                    <th class="column-title">#</th>
                    <th class="column-title">
                        <a class="title" href="" ng-click="sortType = 'soPhieu'; sortReverse = !sortReverse">
                            Số phiếu
                            <span ng-show="sortType == 'soPhieu' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'soPhieu' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>

                    <th class="column-title">
                        <a class="title" href="" ng-click="sortType = 'ngay'; sortReverse = !sortReverse">
                            Ngày
                            <span ng-show="sortType == 'ngay' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'ngay' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th class="column-title">
                        <a class="title" href="" ng-click="sortType = 'trangThai'; sortReverse = !sortReverse">
                            Nhà cung cấp
                            <span ng-show="sortType == 'trangThai' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'trangThai' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th class="column-title">
                        <a class="title" href="" ng-click="sortType = 'noiDung'; sortReverse = !sortReverse">
                            Nội dung
                            <span ng-show="sortType == 'noiDung' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'noiDung' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th class="column-title">
                        <a class="title" href="" ng-click="sortType = 'thanhTienSauVat'; sortReverse = !sortReverse">
                            Tổng tiền
                            <span ng-show="sortType == 'thanhTienSauVat' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'thanhTienSauVat' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th class="column-title">
                        <a class="title" href="" ng-click="sortType = 'makhachHang'; sortReverse = !sortReverse">
                            Người lập
                            <span ng-show="sortType == 'makhachHang' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'makhachHang' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th class="column-title">
                        <a class="title" href="" ng-click="sortType = 'makhachHang'; sortReverse = !sortReverse">
                            Trạng thái
                            <span ng-show="sortType == 'makhachHang' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'makhachHang' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>

                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-show="isLoading">
                    <td colspan="7"><my-loading></my-loading></td>
                </tr>
                <tr class="even pointer" ng-repeat="item in data | orderBy:sortType:sortReverse" ng-dblclick="details(item)">
                    <td style="width:5%">{{$index + 1}}</td>
                    <td style="width:10%">{{item.soPhieu}}</td>
                    <td style="width:10%">{{item.ngay | date : "dd/MM/yyyy"}}</td>
                    <td style="width:10%">{{formatLabel(item.maNhaCungCap,'suppliers')}}</td>
                    <td style="width:15%">{{item.noiDung}}</td>
                    <td style="width:10%" style="text-align:right;">{{item.thanhTienSauVat | number}}</td>
                    <td style="width:10%">{{formatLabel(item.nguoiLap,'auUsers')}}</td>
                    <td style="width:10%" ng-class="item.trangThai == 30 ? 'is-complete' : 'not-approval-yet'">{{item.trangThai | statusDatHangNCC}}</td>
                    <td>
                        <a class="glyphicon glyphicon-info-sign" ng-click="details(item)" data-toggle="tooltip" data-placement="top" title="Chi tiết"></a> &nbsp;&nbsp;
                        <a class="glyphicon glyphicon-transfer" ng-click="receive(item)" data-toggle="tooltip" data-placement="top" title="Giao nhận"></a> &nbsp;&nbsp;
                        <a class="glyphicon glyphicon-trash" ng-click="deleteItem($event, item)" data-toggle="tooltip" data-placement="top" title="Xóa"></a> &nbsp;&nbsp;
                        <a ui-sref="printDonDatHangNCC({id: item.id})" class="glyphicon glyphicon-print" data-toggle="tooltip" data-placement="top"
                           title="In đơn đặt hàng"></a> &nbsp;&nbsp;
                        <a ui-sref="printBienBanNCC({id: item.id})" class="glyphicon glyphicon-tasks" data-toggle="tooltip" data-placement="top"
                           title="In biên bản Giao Nhận"></a> &nbsp;&nbsp;
                        <a class="glyphicon glyphicon-share-alt" ng-click="printChild(item)" data-toggle="tooltip" data-placement="top" title="In phiếu con"></a>
                        
                    </td>
                </tr>
                <tr>
                    <td colSpan="4" style="text-align:center; color:red">Tổng tiền</td>
                    <td style="text-align:right;">{{robot.sum(data, 'thanhTienSauVat') | number}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <uib-pagination class="no-margin-vertical pagination-sm" ng-model="paged.currentPage" ng-change="pageChanged()" items-per-page="paged.itemsPerPage"
                        ng-show="paged.totalItems > 0" total-items="paged.totalItems" max-size="paged.pageSize" boundary-links="true" num-pages="paged.totalPage"
                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
        </uib-pagination>
    </div>
</div>
