<div class="container">
    <style type="text/css">
        .row {
            padding: 10px 0px;
            font-size: 15px;
            color: black;
            margin-left: 40px;
        }

        .col-6.col-md-2 {
            width: 17%;
        }

        .col-6.col-md-1 {
            width: 5%;
            margin-top: 5px;
        }
    </style>

    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-primary" ng-form name="_form">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-bookmark"></span>{{title}}
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-6 col-md-2">
                            <label for="donVi">Đơn vị</label>&nbsp;&nbsp;&nbsp;
                        </div>
                        <div class="col-6 col-md-6">
                            <select class="form-control" ng-model="target.unitCode" required>
                                <option ng-repeat="opt in unitUsers" value="{{opt.value}}">{{opt.text}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 col-md-2">
                            <label for="donVi">Loại công nợ</label>&nbsp;&nbsp;&nbsp;
                        </div>
                        <div class="col-6 col-md-6">
                            <select class="form-control" ng-model="target.loaiBaoCao" ng-change="changeLoaiBaoCao(target.loaiBaoCao);" required>
                                <option value="-1" selected="selected">-Chọn loại báo cáo-</option>
                                <option ng-repeat="opt in listBaoCao" value="{{opt.value}}">{{opt.text}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 col-md-2">
                            <label for="kho">Từ ngày</label>
                        </div>
                        <div class="col-6 col-md-6">
                            <div class="add-input-zone">
                                <input class="input-border-form" type="text" ng-model="target.fromDate" placeholder="{{config.dateFormat}}"
                                       uib-datepicker-popup="{{config.dateFormat}}" is-open="fromDate" datepicker-localdate datepicker-options="options" />
                                <div class="button-calender" ng-click="fromDate = !fromDate; config.delegateEvent($event);">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-2">
                            <label for="kho">Đến ngày</label>
                        </div>
                        <div class="col-6 col-md-6">
                            <div class="add-input-zone">
                                <input class="input-border-form" type="text" ng-model="target.toDate" placeholder="{{config.dateFormat}}"
                                       uib-datepicker-popup="{{config.dateFormat}}" is-open="toDate" datepicker-localdate datepicker-options="options" />
                                <div class="button-calender" ng-click="toDate = !toDate; config.delegateEvent($event);">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-if="target.loaiBaoCao == 1">
                        <div class="col-6 col-md-2">
                            <label for="ncc">Nhà cung cấp</label>
                        </div>

                        <div class="col-6 col-md-6">
                            <input type="text" class="form-control" tabindex="5" ng-model="nhaCungCapCodes" placeholder="Ví dụ 0744,1109,0393" ng-blur="changeNhaCungCap(nhaCungCapCodes);">
                        </div>
                        <div class="col-6 col-md-3">
                            <button type="button" class="btn btn-primary" ng-click="selectNhaCungCap()">Nhà cung cấp</button>
                        </div>
                    </div>
                    
                    <!--Nhóm theo Khách hàng -->
                    <div class="row" ng-if="target.loaiBaoCao == 0">
                        <div class="col-6 col-md-2">
                            <label for="ncc">Theo Khách hàng</label>
                        </div>
                        <div class="col-6 col-md-6">
                            <input type="text" class="form-control" tabindex="7" ng-model="customerCodes" placeholder="Ví dụ 0744,1109,0393" ng-blur="changeCustomer(customerCodes);">
                        </div>
                        <div class="col-6 col-md-3">
                            <button type="button" class="btn btn-primary" ng-click="selectCustomer()">Khách hàng</button>
                        </div>
                    </div>
                    <!-- END Nhóm theo Khách hàng -->
                    

                    <div class="row" style="margin-top: 30px;">
                        <div class="col-6 col-md-3"></div>
                        <div class="col-6 col-md-3">
                            <button class="btn btn-primary form-control" prevent-default ng-click="report()">Báo cáo tổng</button>
                        </div>
                        <div class="col-6 col-md-3">
                            <button class="btn btn-primary form-control" prevent-default ng-click="reportDetails()">Báo cáo chi tiết</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>