<div>
    <div class="modal-header">
      <h3 class="modal-title" style="color:blue;">{{title()}}</h3>
        <div class="button-close" ng-click="cancel()">
            <i class="fa fa-times-circle"></i>
        </div>
    </div>
    <div class="modal-body">
        <form role="form" name="_form">
            <div class="row form-group">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <label>Tên nhân viên</label>
                    <input type="text" class="form-control" ng-model="target.tenNhanVien" name="_tenNhanVien" maxlength="200" disabled>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <label>Mật khẩu cũ</label><span style="color: red"> (1*)</span>
                    <input type="password" class="form-control" id="passOld" ng-model="target.passWordOld" maxlength="20" ng-change="checkPassOld(target.passWordOld)">
                    <span style="color:red" ng-show="target.checkPassOld">{{message}}</span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <label>Mật khẩu mới</label><span style="color: red"> (2*)</span>
                    <input type="password" class="form-control" ng-model="target.passwordNew" name="_PasswordNew" ng-disabled="!target.checkPassOld" required>
                    <span style="color:red" ng-show="_form._PasswordNew.$dirty && _form._PasswordNew.$invalid">
                        <span ng-show="_form._PasswordNew.$error.required">Không được để trống mật khẩu</span>
                    </span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <label>Xác nhận mật khẩu mới</label><span style="color: red"> (3*)</span>
                    <input type="password" class="form-control" ng-model="target.passwordNewConfirm" ng-disabled="!target.checkPassOld" ng-blur="checkPassConfirm(target.passwordNewConfirm)" ng-change="checkSuccess(target.passwordNewConfirm)" name="_PasswordConfirm" required>
                    <span style="color:red" ng-show="!isConfirmPass">
                        <span>Xác nhận mật khẩu không đúng !</span>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button prevent-default type="submit" ng-disabled="!target.changePassSuccess" class="btn btn-primary" ng-click="save()">{{config.label.btnSubmit}}</button>
        <button prevent-default class="btn btn-default" ng-click="cancel()"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;{{config.label.btnCancel}}</button>
    </div>
</div>