/packages
/BTS.API.ASYNC/bin
/BTS.API.ASYNC/obj
/BTS.API.ENTITY/bin
/BTS.API.ENTITY/obj
/BTS.SP.API/obj
/BTS.SP.API/bin
/BTS.SP.INTERNET/bin
/BTS.SP.INTERNET/obj
/.vs/BTS.SP.WCF/config
/.vs/BTS.SP.WCF/v16/Server/sqlite3
/.vs/BTS.SP.WCF/v16
/BTS.API.SERVICE/bin
/BTS.API.SERVICE/obj
