<form></form><!-- KHông hiểu sao để thế này thì nó mới không bị lỗi T_T-->
<div>
    <div>
        <div class="modal-header">
          <h3 class="modal-title" style="color:blue;">{{title()}}</h3>
            <div class="button-close" ng-click="cancel()">
                <i class="fa fa-times-circle"></i>
            </div>
        </div>
        <div class="modal-body" ng-form name="_form">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <div class="md-style-label-input">
                            Số phiếu <span style="color: red">1(*)</span>
                        </div>
                        <div class="md-4-style-input">
                            <input class="form-control" type="text" ng-model="target.maChuongTrinh" name="_soPhieu" maxlength="50" required disabled>
                            <span style="color: red" ng-show="_form._soPhieu.$dirty && _form._soPhieu.$invalid">
                                <span ng-show="_form._soPhieu.$error.required">Không được để trống</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <div class="md-style-label-input">
                            Từ Ngày <span style="color: red">2(*)</span>
                        </div>
                        <div class="md-4-style-input">
                            <div class="add-input-zone">
                                <input class="form-control" type="text" ng-model="target.tuNgay" placeholder="{{config.dateFormat}}"
                                       uib-datepicker-popup="{{config.dateFormat}}" is-open="_tuNgay" datepicker-localdate required />
                                <div class="button-calender" ng-click="_tuNgay = !_tuNgay; config.delegateEvent($event);">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="md-style-label-input">
                            Đến Ngày <span style="color: red">3(*)</span>
                        </div>
                        <div class="md-4-style-input">
                            <div class="add-input-zone">
                                <input class="form-control" type="text" ng-model="target.denNgay" placeholder="{{config.dateFormat}}"
                                       uib-datepicker-popup="{{config.dateFormat}}" is-open="_denNgay" datepicker-localdate required />
                                <div class="button-calender" ng-click="_denNgay = !_denNgay; config.delegateEvent($event);">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <div class="md-style-label-input">
                            Từ giờ
                        </div>
                        <div class="md-4-style-input">
                            <input class="form-control" name="_noiDung" type="text" ng-model="target.tuGio" placeholder="00:00 - 23:59" required="" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="md-style-label-input">
                            Đến giờ
                        </div>
                        <div class="md-4-style-input">
                            <input class="form-control" name="_noiDung" type="text" ng-model="target.denGio" placeholder="00:00 - 23:59" required="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-8">
                        <div class="md-style-label-input">
                            Kho khuyến mãi <span style="color:red">4(*)</span>
                        </div>
                        <div class="md-8-style-input">
                            <button type="button" style="display:inline" class="btn-primary input-border-form" ng-click="selectWareHouse()">Chọn Kho</button>
                            <input type="text" class="form-control" style="display: inline; width: 216px;" name="_wareHouseCodes" ng-model="wareHouseCodes" placeholder="Ví dụ DV1-CH1-K1,DV1-CH1-K2" ng-blur="changewareHouseCodes(wareHouseCodes);" required="">
                            <span style="color: red" ng-show="_form._wareHouseCodes.$dirty && _form._wareHouseCodes.$invalid">
                                <span ng-show="_form._wareHouseCodes.$error.required">Không được để trống</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-8">
                        <div class="md-style-label-input">
                            Nội dung
                        </div>
                        <div class="md-8-style-input">
                            <textarea class="form-control" style="display: inline; width: 300px;" rows="3" id="comment" ng-model="target.noiDung"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <div class="md-style-label-input">
                            Trạng thái <span style="color:red"></span>
                        </div>
                        <div class="md-4-style-input">
                            <select style="width:100%;padding:5px;" class="form-control" ng-model="target.trangThai" ng-options="opt.value as opt.text for opt in tempData('status')"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <span style="color:red">Chú ý: Các thông tin có (*) bắt buộc phải nhập</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <label>Loại khuyến mại</label>
            <ul class="nav nav-pills" role="tablist">
                <li role="presentation"><button class="btn btn-primary" ng-click="kmMatHang()">Khuyến mại mặt hàng&nbsp;<span class="badge">{{countItem('1')}}</span></button></li>
                <li role="presentation"><button class="btn btn-primary" ng-click="kmLoaiHang()">Khuyến mại Loại hàng&nbsp;<span class="badge">{{countItem('2')}}</span></button></li>
                <li role="presentation"><button class="btn btn-primary" ng-click="kmNhomHang()">Khuyến mại Nhóm hàng&nbsp;<span class="badge">{{countItem('3')}}</span></button></li>
                <li role="presentation"><button class="btn btn-primary" ng-click="kmNCC()">Khuyến mại Nhà cung cấp&nbsp;<span class="badge">{{countItem('4')}}</span></button></li>
            </ul>
            <!--<button class="btn btn-primary" ng-click="buyMerGetMer()"></button>-->
        </div>
    </div>
    <div class="modal-footer">
        <button prevent-default class="btn btn-default" ng-click="cancel()"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;{{config.label.btnCancel}}</button>
    </div>
</div>
