<div class="container">
    <style type="text/css">
        .row {
            padding: 10px 0px;
            font-size: 15px;
            color: black;
            margin-left: 40px;
        }

        .col-6.col-md-2 {
            width: 17%;
        }

        .col-6.col-md-1 {
            width: 5%;
            margin-top: 5px;
        }
    </style>

    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-primary" ng-form name="_form">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-bookmark"></span> <span style="text-transform: uppercase;">{{title}}</span>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-6 col-md-2">
                            <label for="donVi">Đơn vị</label>
                        </div>
                        <div class="col-6 col-md-1">
                            <input id="donVi" type="radio" ng-model="groupBy" value="MADONVI" />
                        </div>
                        <div class="col-6 col-md-6">
                            <select class="form-control" ng-model="target.unitCode" ng-options="opt.value as opt.text for opt in unitUsers" required>
                                <option value="">-</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-2">
                            <label for="kho">Loại hình</label>
                        </div>
                        <div class="col-6 col-md-1">
                        </div>
                        <div class="col-6 col-md-6">
                            <select class="form-control" ng-model="target.loaiGiaoDich" ng-change="changeLoaiGiaoDich(target.loaiGiaoDich)" ng-options="opt.value as opt.text for opt in listGiaoDich" required></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-2">
                            <label for="kho">Từ ngày</label>
                        </div>
                        <div class="col-6 col-md-1">
                        </div>
                        <div class="col-6 col-md-6">
                            <div class="add-input-zone">
                                <input class="form-control" type="text" ng-model="target.fromDate" placeholder="{{config.dateFormat}}"
                                       uib-datepicker-popup="{{config.dateFormat}}" is-open="fromDate" datepicker-localdate datepicker-options="options" required />
                                <div class="button-calender" ng-click="fromDate = !fromDate; config.delegateEvent($event);">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 col-md-2">
                            <label for="kho">Đến ngày</label>
                        </div>
                        <div class="col-6 col-md-1">
                        </div>
                        <div class="col-6 col-md-6">
                            <div class="add-input-zone">
                                <input class="input-border-form" type="text" ng-model="target.toDate" placeholder="{{config.dateFormat}}"
                                       uib-datepicker-popup="{{config.dateFormat}}" is-open="toDate" datepicker-localdate datepicker-options="options" required />
                                <div class="button-calender" ng-click="toDate = !toDate; config.delegateEvent($event);">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Nhóm Nhà cung cấp -->
                    <div class="row">
                        <div class="col-6 col-md-2">
                            <label for="ncc">Nhà cung cấp</label>
                        </div>
                        <div class="col-6 col-md-1">
                            <input id="ncc" type="radio" ng-model="groupBy" value="MANHACUNGCAP" />
                        </div>
                        <div class="col-6 col-md-6">
                            <input type="text" class="form-control" tabindex="5" ng-model="nhaCungCapCodes" placeholder="Ví dụ 0744,1109,0393" ng-blur="changeNhaCungCap(nhaCungCapCodes);">
                        </div>
                        <div class="col-6 col-md-3">
                            <button type="button" class="btn btn-primary" ng-click="selectNhaCungCap()">Nhà cung cấp</button>
                        </div>
                    </div>
                    <!-- END Nhóm Nhà cung cấp -->
                    <!--Nhóm theo kho -->
                    <div class="row">
                        <div class="col-6 col-md-2">
                            <label for="kho">Kho hàng</label>
                        </div>
                        <div class="col-6 col-md-1">
                            <input id="kho" type="radio" ng-model="groupBy" value="MAKHO" />
                        </div>
                        <div class="col-6 col-md-6">
                            <input type="text" class="form-control" tabindex="1" ng-model="wareHouseCodes" placeholder="Ví dụ DV1-CH1-K1,DV1-CH1-K2" ng-blur="changewareHouseCodes(wareHouseCodes);">
                        </div>
                        <div class="col-6 col-md-3">
                            <button type="button" class="btn btn-primary" ng-click="selectWareHouse()">Kho hàng</button>
                        </div>
                    </div>
                    <!-- END Nhóm theo kho -->
                    <!--Nhóm Loại hàng -->
                    <div class="row">
                        <div class="col-6 col-md-2">
                            <label for="loai">Loại hàng</label>
                        </div>
                        <div class="col-6 col-md-1">
                            <input id="loai" type="radio" ng-model="groupBy" value="MALOAIVATTU" />
                        </div>
                        <div class="col-6 col-md-6">
                            <input type="text" class="form-control" tabindex="2" ng-model="merchandiseTypeCodes" placeholder="Ví dụ A,B,C,D,E" ng-blur="changeTypeMerchandiseCodes(merchandiseTypeCodes);">
                        </div>
                        <div class="col-6 col-md-3">
                            <button type="button" class="btn btn-primary" ng-click="selectMerchandiseType()">Loại hàng</button>
                        </div>
                    </div>
                    <!-- END Nhóm Loại hàng -->
                    <!--Nhóm Nhóm hàng -->
                    <div class="row">
                        <div class="col-6 col-md-2">
                            <label for="nhom">Nhóm hàng</label>
                        </div>
                        <div class="col-6 col-md-1">
                            <input id="nhom" type="radio" ng-model="groupBy" value="MANHOMVATTU" />
                        </div>
                        <div class="col-6 col-md-6">
                            <input type="text" class="form-control" tabindex="3" ng-model="merchandiseGroupCodes" placeholder="Ví dụ 000021,000022,000023" ng-blur="changeMerchandiseGroup(merchandiseGroupCodes);">
                        </div>
                        <div class="col-6 col-md-3">
                            <button type="button" class="btn btn-primary" ng-click="selectMerchandiseGroup()">Nhóm</button>
                        </div>
                    </div>
                    <!--END Nhóm Nhóm hàng -->
                    <!--Nhóm theo hàng hóa -->
                    <div class="row">
                        <div class="col-6 col-md-2">
                            <label for="hang">Theo Hàng hóa</label>
                        </div>
                        <div class="col-6 col-md-1">
                            <input id="hang" type="radio" ng-model="groupBy" value="MAVATTU" />
                        </div>
                        <div class="col-6 col-md-6">
                            <input type="text" class="form-control" tabindex="4" ng-model="merchandiseCodes" placeholder="Ví dụ A00001,A00002,A00003" ng-blur="changeMerchandise(merchandiseCodes);">
                        </div>
                        <div class="col-6 col-md-3">
                            <button type="button" class="btn btn-primary" ng-click="selectMerchandise()">Hàng hóa</button>
                        </div>
                    </div>
                    <!--END Nhóm theo hàng hóa -->
                    <div class="row">
                        <div class="col-6 col-md-2">
                            <label for="hang">Thu ngân</label>
                        </div>
                        <div class="col-6 col-md-1">
                            <input id="hang" type="radio" ng-model="groupBy" value="NGUOIDUNG" />
                        </div>
                        <div class="col-6 col-md-6">
                            <input type="text" class="form-control" tabindex="6" ng-model="userCodes">
                        </div>
                        <div class="col-6 col-md-3">
                            <button type="button" class="btn btn-primary" ng-click="selectNguoiDung()">Thu ngân</button>
                        </div>
                    </div>
                    <!--Nhóm bó hàng -->
                    <div class="row">
                        <div class="col-6 col-md-2">
                            <label for="boHang">Bó hàng</label>
                        </div>
                        <div class="col-6 col-md-1">
                            <input id="boHang" type="radio" ng-model="groupBy" value="BOHANG" />
                        </div>
                        <div class="col-6 col-md-6">
                            <input type="text" class="form-control" tabindex="6" ng-model="boHangs">
                        </div>
                        <div class="col-6 col-md-3">
                            <button type="button" class="btn btn-primary" ng-click="selectBoHang()">Bó hàng</button>
                        </div>
                    </div>
                    <!--Nhóm Loại hàng giao dịch -->
                    <div class="row">
                        <div class="col-6 col-md-2">
                            <label for="kho">Loại giao dịch</label>
                        </div>
                        <div class="col-6 col-md-1">
                            <input id="kho" type="radio" ng-model="groupBy" value="MAGIAODICH" />
                        </div>
                        <div class="col-6 col-md-6">
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-2">
                            <button class="btn btn-primary form-control" ng-disabled="_form.$invalid" prevent-default ng-click="updatePrice()">Cập nhật giá vốn</button>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary form-control" ng-disabled="_form.$invalid" prevent-default ng-click="reportTn()">BC tóm tắt thu ngân</button>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary form-control" ng-disabled="_form.$invalid" prevent-default ng-click="reportTongHop()">Báo cáo tổng hợp</button>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary form-control" ng-disabled="_form.$invalid" prevent-default ng-click="reportDetails()">Báo cáo chi tiết</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>