<div class="panel panel-default" style="position: absolute; width: 100%; left: 0px;">
    <div class="panel-heading">
        <div class="button-close" ng-click="goIndex()">
            <i class="fa fa-times-circle"></i>
        </div>
        <div class="btn-group">
            <button class="btn btn-default" prevent-default title="In danh sách" ng-click="print()"><span class="fa fa-print"></span>&ensp;In</button>
            <button class="btn btn-default" prevent-default title="Xuất Excel" ng-click="printExcel()"><span class="fa fa-print"></span>&ensp;Xuất Excel</button>
        </div>
    </div>
    <div class="panel-body">
        <div id="main-report">
            <br />
            <div id="dataTable">
                <style>
                    .date-time,
                    th,
                    td,
                    span {
                        font-size: 14px;
                        font-family: 'Times New Roman';
                    }

                    th,
                    td {
                        padding: 2px;
                    }

                    .header-report {
                        margin-bottom: 30px;
                    }

                        .header-report table,
                        .infor-report table {
                            width: 100%;
                            padding-left: 20px;
                            border: 0;
                        }

                    .infor-report {
                        padding-left: 10px;
                    }

                    .data-report table {
                        width: 100%;
                        border: 1px solid;
                        border-collapse: collapse;
                    }

                        .data-report table thead tr th,
                        .data-report table tbody.data-detail tr td {
                            border: 1px solid;
                        }

                        .data-report table tbody.data-detail tr td {
                            font-size: 13px !important;
                        }

                    .infor-report table tr td {
                        position: relative;
                    }

                    .dotted-description {
                        position: absolute;
                        width: calc(100% - 110px);
                        border-bottom: 1px dotted;
                    }

                    .signature-place table {
                        width: 100%;
                    }

                    .signature-place .date-time {
                        float: right;
                        font-style: italic;
                        padding: 10px 30px 5px 10px;
                    }

                    .signature-place table thead tr th {
                        text-align: center;
                    }

                    .signature-place table tbody tr td {
                        text-align: center;
                    }

                    .end-page {
                        height: 100px;
                    }

                    .label-info-report {
                        float: left;
                        font-weight: bold;
                    }

                    .info-company-top-left {
                        float: left;
                        text-align: left;
                        font-weight: bold;
                    }

                    .info-datereport-top-right {
                        float: right;
                        text-align: right;
                        font-style: italic;
                    }

                    .name-report {
                        text-align: center;
                        font-weight: bold;
                        font-size: 22px !important;
                        padding: 5px;
                    }

                    .date-report {
                        text-align: center;
                        font-weight: bold;
                        font-size: 18px !important;
                        padding: 5px;
                    }

                    .info-contract-attachment {
                        text-align: center;
                        font-style: italic;
                    }

                    .text-center {
                        text-align: center;
                        font-weight: bold;
                    }

                    .name-tong-hop {
                        text-align: right;
                        font-weight: bold;
                    }

                    .value-tong-hop {
                        font-weight: bold;
                        text-align: right;
                    }
                </style>

                <div class="header-report">
                    <table>
                        <tr>
                            <td class="info-company-top-left">
                                {{data.tenDonVi}}
                                <br>{{data.diaChiDonVi}}
                            </td>
                            <td class="info-datereport-top-right">
                                Ngày in: {{data.createDay}}/{{data.createMonth}}/{{data.createYear}}
                                <br>Người in: {{data.username}}
                            </td>
                        </tr>
                    </table>
                    <div class=" row name-report">
                        BÁO CÁO XUẤT NHẬP TỒN CHI TIẾT
                    </div>
                    <div class=" row date-report">
                        Từ ngày: {{data.fromDay}}/{{data.fromMonth}}/{{data.fromYear}}&emsp;Đến ngày: {{data.toDay}}/{{data.toMonth}}/{{data.toYear}}
                    </div>
                    <div ng-if="isLoading">
                        <div colspan="16"><my-loading></my-loading></div>
                    </div>
                </div>
                <div class="label-group-by" style="float:left">Điều kiện tìm kiếm, gộp theo: {{data.groupType}}</div>
            </div>
            <br>
            <div class="data-report">
                <table>
                    <thead>
                        <tr>
                            <th class="text-center" style="width: auto" rowspan="2">STT</th>
                            <th class="text-center" style="width: auto" rowspan="2">Mã </th>
                            <th class="text-center" style="width: 10%" rowspan="2">Tên </th>
                            <th class="text-center" style="width: 5%" colspan="2">Tồn đầu kỳ</th>
                            <th class="text-center" style="width: 5%" colspan="2">Nhập mua</th>
                            <th class="text-center" style="width: 5%" colspan="2">Nhập bán lẻ TL</th>
                            <th class="text-center" style="width: 5%" colspan="2">Nhập chuyển kho</th>
                            <th class="text-center" style="width: 5%" colspan="2">Nhập ST thành viên</th>
                            <th class="text-center" style="width: 5%" colspan="2">Nhập bán buôn TL</th>
                            <th class="text-center" style="width: 5%" colspan="2">Nhập điều chỉnh</th>
                            <th class="text-center" style="width: 5%" colspan="2">Nhập hàng âm</th>
                            <th class="text-center" style="width: 5%" colspan="2">Nhập kiểm kê</th>
                            <th class="text-center" style="width: 5%" colspan="2">Xuất bán lẻ</th>
                            <th class="text-center" style="width: 5%" colspan="2">Xuất bán buôn</th>
                            <th class="text-center" style="width: 5%" colspan="2">Xuất chuyển kho</th>
                            <th class="text-center" style="width: 5%" colspan="2">Xuất ST thành viên</th>
                            <th class="text-center" style="width: 5%" colspan="2">Xuất điều chỉnh</th>
                            <th class="text-center" style="width: 5%" colspan="2">Xuất trả NCC</th>
                            <th class="text-center" style="width: 5%" colspan="2">Xuất hủy hàng hỏng</th>
                            <th class="text-center" style="width: 5%" colspan="2">Xuất kiểm kê</th>
                            <th class="text-center" style="width: 5%" colspan="2">Tồn cuối kỳ</th>
                        </tr>
                        <tr>
                            <th class="text-center">Số lượng</th>
                            <th class="text-center">Giá trị</th>
                            <th class="text-center">Số lượng</th>
                            <th class="text-center">Giá trị</th>
                            <th class="text-center">Số lượng</th>
                            <th class="text-center">Giá trị</th>
                            <th class="text-center">Số lượng</th>
                            <th class="text-center">Giá trị</th>
                            <th class="text-center">Số lượng</th>
                            <th class="text-center">Giá trị</th>
                            <th class="text-center">Số lượng</th>
                            <th class="text-center">Giá trị</th>
                            <th class="text-center">Số lượng</th>
                            <th class="text-center">Giá trị</th>
                            <th class="text-center">Số lượng</th>
                            <th class="text-center">Giá trị</th>
                            <th class="text-center">Số lượng</th>
                            <th class="text-center">Giá trị</th>
                            <th class="text-center">Số lượng</th>
                            <th class="text-center">Giá trị</th>
                            <th class="text-center">Số lượng</th>
                            <th class="text-center">Giá trị</th>
                            <th class="text-center">Số lượng</th>
                            <th class="text-center">Giá trị</th>
                            <th class="text-center">Số lượng</th>
                            <th class="text-center">Giá trị</th>
                            <th class="text-center">Số lượng</th>
                            <th class="text-center">Giá trị</th>
                            <th class="text-center">Số lượng</th>
                            <th class="text-center">Giá trị</th>
                            <th class="text-center">Số lượng</th>
                            <th class="text-center">Giá trị</th>
                            <th class="text-center">Số lượng</th>
                            <th class="text-center">Giá trị</th>
                            <th class="text-center">Số lượng</th>
                            <th class="text-center">Giá trị</th>
                        </tr>
                    </thead>
                    <tbody class="data-detail">
                        <tr ng-repeat="item in data.dataDetails">
                            <td style="text-align:center">{{$index+1}}</td>
                            <td>{{item.ma}}</td>
                            <td>{{item.ten}}</td>
                            <td style="text-align:center;">{{item.tonDauKy_Sl  | number}}</td>
                            <td style="text-align:right;">{{item.tonDauKy_Gt  | number}}</td>
                            <td style="text-align:center;">{{item.nmua_Sl | number}}</td>
                            <td style="text-align:right;">{{item.nmua_Gt | number}}</td>
                            <td style="text-align:center;">{{item.xBanLeTL_Sl | number}}</td>
                            <td style="text-align:right;">{{item.xBanLeTL_Gt | number}}</td>
                            <td style="text-align:center;">{{item.nhapChuyenKho_Sl | number}}</td>
                            <td style="text-align: right;">{{item.nhapChuyenKho_Gt | number}}</td>
                            <td style="text-align:center;">{{item.nhapSTThanhVien_Sl | number}}</td>
                            <td style="text-align: right;">{{item.nhapSTThanhVien_Gt | number}}</td>
                            <td style="text-align:center;">{{item.nhapBanTL_Sl | number}}</td>
                            <td style="text-align: right;">{{item.nhapBanTL_Gt | number}}</td>
                            <td style="text-align:center;">{{item.nhapDieuChinh_Sl | number}}</td>
                            <td style="text-align: right;">{{item.nhapDieuChinh_Gt | number}}</td>
                            <td style="text-align:center;">{{item.nhapHangAm_Sl | number}}</td>
                            <td style="text-align: right;">{{item.nhapHangAm_Gt | number}}</td>
                            <td style="text-align: center;">{{(item.kiemKe_Sl < 0 ? item.kiemKe_Sl : 0) | number}}</td>
                            <td style="text-align: right;">{{(item.kiemKe_Gt < 0 ? item.kiemKe_Gt : 0) | number}}</td>
                            <td style="text-align:center;">{{item.xBanLeQuay_Sl | number}}</td>
                            <td style="text-align: right;">{{item.xBanLeQuay_Gt | number}}</td>
                            <td style="text-align:center;">{{item.xBanBuon_Sl | number}}</td>
                            <td style="text-align: right;">{{item.xBanBuon_Gt | number}}</td>
                            <td style="text-align:center;">{{item.xuatChuyenKho_Sl | number}}</td>
                            <td style="text-align: right;">{{item.xuatChuyenKho_Gt | number}}</td>
                            <td style="text-align:center;">{{item.xuatSTThanhVien_Sl | number}}</td>
                            <td style="text-align: right;">{{item.xuatSTThanhVien_Gt | number}}</td>
                            <td style="text-align:center;">{{item.xuatDC_Sl | number}}</td>
                            <td style="text-align: right;">{{item.xuatDC_Gt | number}}</td>
                            <td style="text-align:center;">{{item.xuatTraNCC_Sl | number}}</td>
                            <td style="text-align: right;">{{item.xuatTraNCC_Gt | number}}</td>
                            <td style="text-align:center;">{{item.xuatHuyHH_Sl | number}}</td>
                            <td style="text-align: right;">{{item.xuatHuyHH_Gt | number}}</td>
                            <td style="text-align: center;">{{(item.kiemKe_Sl > 0 ? item.kiemKe_Sl : 0) | number}}</td>
                            <td style="text-align: right;">{{(item.kiemKe_Gt > 0 ? item.kiemKe_Gt : 0) | number}}</td>
                            <td style="text-align:center;">{{item.tonCuoiKy_Sl | number}}</td>
                            <td style="text-align: right;">{{item.tonCuoiKy_Gt | number}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="signature-place">
                <div class="date-time">Ngày {{data.createDay}} tháng {{data.createMonth}} năm {{data.createYear}}</div>
                <table>
                    <thead>
                        <tr>
                            <th>Giám đốc</th>
                            <th>Kế toán trưởng</th>
                            <th>Người lập phiếu</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class=end-page></div>
        </div>
    </div>
</div>