<!DOCTYPE html>
<html>
<head>
    <title>SMARTSALE</title>
    <link rel="shortcut icon" href="/BTS.SP.MART/img/favicon.ico" type="image/x-icon">
    <link href="/BTS.SP.MART/styles/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/BTS.SP.MART/styles/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/BTS.SP.MART/styles/fonts/fontawesome-webfont.woff" rel="stylesheet" type="text/css" />
    <link href="/BTS.SP.MART/styles/fonts/glyphicons-halflings-regular.woff" rel="stylesheet" type="text/css" />
    <link href="/BTS.SP.MART/styles/css/my-effect-style.css" rel="stylesheet" />
    <link href="/BTS.SP.MART/utils/meterial/angular-material/angular-material.css" rel="stylesheet" />

    <link href="/BTS.SP.MART/styles/css/ng-table.min.css" rel="stylesheet" type="text/css" />
    <link href="/BTS.SP.MART/utils/ng-notify/ng-notify.min.css" rel="stylesheet" type="text/css" />
    <link href="/BTS.SP.MART/utils/loading-bar/loading-bar.min.css" rel="stylesheet" type="text/css" />
    <link href="/BTS.SP.MART/utils/angular-confirm/angular-confirm.min.css" rel="stylesheet" type="text/css" />
    <link href="/BTS.SP.MART/utils/ui-grid/ui-grid.min.css" rel="stylesheet" type="text/css" />
    <link href="/BTS.SP.MART/styles/css/kendo.common.min.css" rel="stylesheet" type="text/css" />
    <link href="/BTS.SP.MART/styles/css/kendo.blueopal.min.css" rel="stylesheet" type="text/css" />
    <link href="/BTS.SP.MART/styles/css/loading-bar.css" rel="stylesheet" type="text/css" />
    <link href="/BTS.SP.MART/styles/css/my-style.css" rel="stylesheet" type="text/css" />
    <link href="/BTS.SP.MART/utils/ng-tags-input/ng-tags-input.min.css" rel="stylesheet" type="text/css" />
    <link href="/BTS.SP.MART/utils/meterial/angular-material/angular-material.css" rel="stylesheet" type="text/css" />
    <link href="/BTS.SP.MART/utils/toaster/toaster.min.css" rel="stylesheet" type="text/css" />
    <!--home-->
    <script>
        document.write('<base href="' + document.location.pathname + '" />')
    </script>
    <style type="text/css">
        .container-fluid.menu {
            background-color: #af1515;
        }

        .dropdown-submenu > .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -6px;
            margin-left: -1px;
            -webkit-border-radius: 0 6px 6px 6px;
            -moz-border-radius: 0 6px 6px;
            border-radius: 0 6px 6px 6px;
        }

        .dropdown-submenu:hover > .dropdown-menu {
            display: block;
        }

        .container-fluid.menu a:hover {
            background-color: antiquewhite;
        }

        .dropdown-submenu > a:after {
            display: block;
            content: " ";
            float: right;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            border-width: 5px 0 5px 5px;
            border-left-color: #ccc;
            margin-top: 5px;
            margin-right: -10px;
        }

        .dropdown-submenu:hover > a:after {
            border-left-color: #fff;
        }

        .dropdown-submenu.pull-left {
            float: none;
        }

        .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }

        .navbar {
            min-height: 38px !important;
            border: 0px !important;
        }

        #loading-bar .bar {
            position: fixed !important;
            top: 5px !important;
        }
    </style>
</head>
<body>
    <div ui-view="viewRoot" id="mainApp"></div>
    <script type="text/javascript" data-main="/BTS.SP.MART/main.js" src="/BTS.SP.MART/lib/require.js" charset="UTF8"></script>
</body>
</html>