
<form></form><!-- KHông hiểu sao để thế này thì nó mới không bị lỗi T_T-->
<div>
    <div class="modal-header" style="padding: 5px 5px">
      <h3 class="modal-title" style="color:blue;">{{title()}}</h3>
        <div class="button-close" ng-click="cancel()">
            <i class="fa fa-times-circle"></i>
        </div>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            <div class="col-md-4">
                <div class="md-style-label-input">
                    Ngày hạch toán
                </div>
                <div class="md-4-style-input">
                    <input style="line-height:inherit;width:100%" class="input-border-form" ng-model="target.ngayCT" datepicker-localdate type="date" disabled>
                </div>
            </div>
            <div class="col-md-4">
                <div class="md-style-label-input">
                    Khách hàng
                </div>
                <div class="md-4-style-input">
                    <div class="add-input-zone">
                        <input class="input-border-form" disabled name="_makhachHang" type="text" ng-model="target.maKhachHang" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData('customers') | filter:$viewValue" typeahead-on-select="selectedkhachHang($item)" typeahead-input-formatter="displayHepler($model, 'customers')" />
                        <div class="add-input-able" ng-click="createCustomer(target, 'makhachHang')">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                <div class="md-style-label-input">
                    Kho xuất
                </div>
                <div class="md-4-style-input">
                    <select class="input-border-form" disabled style="width:100%;" ng-model="target.maKhoXuat" ng-options="opt.value as opt.text for opt in tempData('wareHouses')">
                        <option value="">-</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-8">
                <div class="md-style-label-input">
                    Nội dung
                </div>
                <div class="md-8-style-input">
                    <textarea focus="true" disabled class="input-border-form" name="_noidung" style="width:100%;" rows="1" ng-model="target.noiDung" placeholder="Nội dung"></textarea>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                <div class="md-style-label-input">
                    Chiết khấu toàn đơn
                </div>
                <div class="md-4-style-input">
                    <input type="number" disabled value="0" min="0" max="100" class="input-border-form" style="width:100%;" name="_chietKhau" ng-model="target.chietKhau" ng-change="changeChietKhau(target)">
                    <input ng-model="target.tienChietKhau" disabled hidden>
                </div>
            </div>
            <!-- <div class="col-md-4"> -->
            <!-- <button prevent-default class="btn btn-default" type="button">Chiết khấu</button> -->
            <!-- </div> -->
        </div>
        <div class="form-group">
            <div class="col-md-8">Danh sách mặt hàng:</div>
            <table class="data-detail table table-bordered">
                <thead>
                    <tr>
                        <th style="width:8%">Barcode</th>
                        <th style="width:8%">Mã HH</th>
                        <th style="width:20%">Tên hàng hóa</th>
                        <th style="width:10%">Số lượng</th>
                        <th style="width:8%">Giá bán</th>
                        <th style="width:8%">CK</th>
                        <th style="width:8%">Tiền CK</th>
                        <th style="width:13%">Thành tiền</th>
                        <th style="width:8%">Mã bó</th>
                        <th style="width:5%">CTKM</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in target.dataDetails" style="text-align:center">
                        <td>{{item.barcode}}</td>
                        <td>{{item.maHang}}</td>
                        <td>{{item.tenHang}}</td>
                        <td><input class="input-border-form" disabled type="number" min="0" style="width:100%" ng-change="changeSoLuong(item)" ng-model="item.soLuong"></td>
                        <td>{{item.donGia | number}}</td>
                        <td><input class="input-border-form" disabled type="number" min="0" max="100" style="width:100%" ng-change="changeGiamGia(item)" ng-model="item.giamGia"></td>
                        <td>{{item.tienGiamGia | number}}</td>
                        <td>{{item.thanhTien | number}}</td>
                        <td>Mã bó</td>
                        <td>CTKM</td>
                    </tr>
                    <tr style="text-align:center">
                        <td colspan="7" style="color:red; text-align:center">Tổng</td>
                        <td>{{robot.sum(target.dataDetails, 'thanhTien') | number}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="modal-footer">
    </div>
</div>

