<div>
    <div class="modal-header">
      <h3 class="modal-title" style="color:blue;">{{title()}}</h3>
        <div class="button-close" ng-click="cancel()">
            <i class="fa fa-times-circle"></i>
        </div>
    </div>
    <div class="modal-header" ng-show="isLoading">
        <my-loading></my-loading>
    </div>
    <div class="modal-body">
        <form role="form" name="_form">
            <div class="row">
                <div class="col-6 col-md-2">
                    <label for="tuNgay">Từ ngày</label>
                </div>
                <div class="col-6 col-md-1">
                </div>
                <div class="col-6 col-md-6">
                    <div class="add-input-zone">
                        <input class="input-border-form" type="text" ng-model="target.fromDate" placeholder="{{config.dateFormat}}"
                               uib-datepicker-popup="{{config.dateFormat}}" is-open="fromDate" datepicker-localdate datepicker-options="options" required/>
                        <div class="button-calender" ng-click="fromDate = !fromDate; config.delegateEvent($event);">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-md-2">
                    <label for="denNgay">Đến ngày</label>
                </div>
                <div class="col-6 col-md-1">
                </div>
                <div class="col-6 col-md-6">
                    <div class="add-input-zone">
                        <input class="input-border-form" type="text" ng-model="target.toDate" placeholder="{{config.dateFormat}}"
                               uib-datepicker-popup="{{config.dateFormat}}" is-open="toDate" datepicker-localdate datepicker-options="options" required/>
                        <div class="button-calender" ng-click="toDate = !toDate; config.delegateEvent($event);">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button prevent-default type="submit" class="btn btn-primary" ng-disabled="_form.$invalid" ng-click="update()">&nbsp;&nbsp;Cập nhật</button>
        <button prevent-default class="btn btn-default" ng-click="cancel()"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;{{config.label.btnCancel}}</button>
    </div>
</div>