<html>

<body>
    <div class="modal-header" style="padding: 5px 5px">
      <h3 class="modal-title" style="color:blue;">{{title()}}</h3>
        <div class="button-close" ng-click="cancel()">
            <i class="fa fa-times-circle"></i>
        </div>
    </div>
    <div class="modal-body">
        <form role="form" name="_form">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Mã phiếu
                            <span style="color:red">(*)</span>
                        </div>
                        <div class="md-4-style-input">
                            <input class="input-border-form" type="text" name="_maPhieu" ng-model="target.maPhieu" maxlength="50" required disabled />
                            <span style="color:red" ng-show="_form._maPhieu.$dirty && _form._maPhieu.$invalid">
                                <span ng-show="_form._maPhieu.$error.required">Không được để trống</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Ngày báo date
                        </div>
                        <div class="md-4-style-input">
                            <div class="add-input-zone">
                                <input class="input-border-form" type="text" ng-model="target.ngayBaoDate" placeholder="{{config.dateFormat}}" uib-datepicker-popup="{{config.dateFormat}}"
                                       is-open="_ngayBaoDate" disabled datepicker-localdate />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Người lập
                        </div>
                        <div class="md-4-style-input">
                            <input class="input-border-form" type="text" name="_fullName" focus="true" ng-model="fullName" typeahead-editable="false"
                                   disabled />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-style-label-input">
                            Nội dung
                        </div>
                        <div class="md-8-style-input">
                            <textarea class="input-border-form" focus="true" name="_noidung" style="width:100%;" rows="1" ng-model="target.noiDung" disabled></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-body">
        <div>
            <table class="table table-bordered table-hover table-condensed" arrow-selector data-item-target="dataDetails">
                <thead>
                    <tr style="font-weight: bold">
                        <th style="width:1%" class="text-center">STT</th>
                        <th style="width:7%" class="text-center">Mã NCC</th>
                        <th style="width:13%" class="text-center">Tên NCC</th>
                        <th style="width:11%" class="text-center">Barcode</th>
                        <th style="width:6%" class="text-center">Mã hàng</th>
                        <th style="width:13%" class="text-center">Tên hàng</th>
                        <th style="width:4%" class="text-center">Số lượng</th>
                        <th style="width:11%" class="text-center">Ngày sản xuất</th>
                        <th style="width:11%" class="text-center">Ngày hết hạn</th>
                        <th style="width:8%" class="text-center">Còn lại tính ngày báo</th>
                        <th style="width:8%" class="text-center">Còn lại tính ngày hôm nay</th>
                    </tr>
                </thead>
                <tbody ng-form name="_formDetail">
                    <tr ng-repeat="item in data track by $index">
                        <td style="text-align:center;">{{$index + 1}}</td>
                        <td>
                            {{item.maNhaCungCap}}
                        </td>
                        <td>
                            {{item.tenNhaCungCap}}
                        </td>
                        <td>
                            <div style="width: 121px; overflow: auto">
                                {{item.barCode}}
                            </div>
                        </td>
                        <td>
                            {{item.maVatTu}}
                        </td>
                        <td>
                            {{item.tenVatTu}}
                        </td>
                        <td>
                            {{item.soLuong}}
                        </td>
                        <td>
                            <div style="text-align:right; width:100%">
                                {{item.ngaySanXuat | date : "dd/MM/yyyy"}}
                            </div>
                        </td>
                        <td>
                            <div style="text-align:right; width:100%">
                                {{item.ngayHetHan | date : "dd/MM/yyyy"}}
                            </div>
                        </td>
                        </td>
                        <td>
                            <div style="text-align:right; width:100%">
                                {{item.conLai_NgayBao | number}}
                            </div>
                        </td>
                        <td>
                            <div style="text-align:right; width:100%">
                                {{item.conLai_NgayHetHan | number}}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <uib-pagination class="no-margin-vertical pagination-sm" ng-model="paged.currentPage" ng-change="pageChanged()" items-per-page="paged.itemsPerPage"
                            ng-show="paged.totalItems > 0" total-items="paged.totalItems" max-size="paged.pageSize" boundary-links="true"
                            num-pages="paged.totalPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
            </uib-pagination>
        </div>
    </div>
    <div class="modal-footer">
        <button prevent-default class="btn btn-default" ng-click="cancel()"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;{{config.label.btnCancel}}</button>
    </div>
</body>

</html>