<div class="modal-header">
    <h3 class="modal-title">{{title()}}  {{lbl.lblCreate}}</h3>
    <div class="button-close" ng-click="cancel()">
        <i class="fa fa-times-circle"></i>
    </div>
</div>
<div class="modal-body">
    <form role="form" name="_form">
        <div class="row form-group">
            <div class="col-lg-6">
                <label>Mã khách hàng</label><span style="color: red">(*)</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:red;">Bỏ sinh mã</span>&nbsp;&nbsp;<input type="checkbox" ng-model="uncheckAutoGen" ng-click="unAuToGenCode($event)" title="Bỏ sinh mã mới">
                <input type="text" class="form-control" ng-model="target.makh" name="_makhachHang" maxlength="50" required ng-disabled="disableGenCode">
                <span style="color:red" ng-show="_form._makhachHang.$dirty && _form._makhachHang.$invalid">
                    <span ng-show="_form._makhachHang.$error.required">Không được để trống</span>
                </span>
            </div>
            <div class="col-lg-6">
                <label>Tên khách hàng</label><span style="color: red">(*)</span>
                <input type="text" class="form-control" ng-model="target.tenKH" name="_tenkhachHang" maxlength="300" required>
                <span style="color:red" ng-show="_form._tenkhachHang.$dirty && _form._tenkhachHang.$invalid">
                    <span ng-show="_form._tenkhachHang.$error.required">Không được để trống</span>
                </span>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-lg-6">
                <label>Địa chỉ</label>
                <input type="text" class="form-control" ng-model="target.diaChi">
            </div>
            <div class="col-lg-6">
                <label>Điện thoại</label>
                <input type="text" class="form-control" ng-model="target.dienThoai" ng-pattern="/^[0-9]+$/" name="_SoDienThoai">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-lg-6">
                <label>Email</label>
                <input type="email" class="form-control" ng-model="target.email" name="_email">
                <span style="color:red" ng-show="_form._email.$dirty && _form._email.$invalid">
                    <span ng-show="_form._email.$error.email">Không hợp lệ <span>(Ví dụ: 123@gmail.com)</span></span>
                </span>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button prevent-default type="submit" class="btn btn-primary" ng-disabled="_form.$invalid" ng-click="save()"><i class="fa fa-save"></i>&nbsp;&nbsp;{{config.label.btnSubmit}}</button>
    <button prevent-default class="btn btn-default" ng-click="cancel()"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;{{config.label.btnCancel}}</button>
</div>