<div class="modal-header">
    <h3 class="modal-title">{{title()}}  {{lbl.lblCreate}}</h3>
    <div class="button-close" ng-click="cancel()">
        <i class="fa fa-times-circle"></i>
    </div>
</div>
<div class="modal-body">
    <form role="form" name="_form">
        <div class="row form-group">
            <div class="col-lg-6">
                <label>Mã khách hàng</label>
                <input disabled type="text" class="form-control" ng-model="target.maKH" />
            </div>
            <div class="col-lg-6">
                <label>Tên khách hàng</label>
                <input disabled type="text" class="form-control" ng-model="target.tenKH" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-lg-6">
                <label>Địa chỉ</label>
                <input disabled type="text" class="form-control" ng-model="target.diaChi" />
            </div>
            <div class="col-lg-6">
                <label>Điện thoại</label>
                <input disabled type="text" class="form-control" ng-model="target.dienThoai" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-lg-6">
                <label>Email</label>
                <input disabled type="email" class="form-control" ng-model="target.email" />
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button prevent-default class="btn btn-default" ng-click="cancel()"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;{{config.label.btnCancel}}</button>
</div>