<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary" ng-form name="_form">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-bookmark"></span> Danh sách khách hàng thân thiết
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row form-group">
                        <div class="col-md-8">
                            <div class="md-style-label-input">
                                Đơn vị
                            </div>
                            <div class="md-8-style-input">
                                <select class="form-control" ng-model="target.unitcode" ng-options="opt.value as opt.text for opt in unitUsers" required>
                                    <option value="">-</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--<div class="row form-group">
                        <div class="col-md-12">
                            <div class="md-style-label-input">
                                kho km <span style="color:red">(*)</span>
                            </div>
                            <div class="md-12-style-input">
                                <button type="button" style="display:inline" class="btn-primary input-border-form" ng-click="selectwarehouse()">chọn kho</button>
                                <input type="text" class="form-control" style="display:inline; width:850px;" ng-model="warehousecodes" placeholder="ví dụ dv1-ch1-k1,dv1-ch1-k2" ng-blur="changewarehousecodes(warehousecodes);">
                            </div>
                        </div>
                    </div>-->
                    <div class="row form-group">
                        <div class="col-md-4">
                            <div class="md-style-label-input">
                                Từ Ngày <span style="color:red"></span>
                            </div>
                            <div class="md-4-style-input">
                                <div class="add-input-zone">
                                    <input class="input-border-form" type="text" ng-model="target.fromDate" placeholder="{{config.dateFormat}}"
                                           uib-datepicker-popup="{{config.dateFormat}}" is-open="_fromDate" datepicker-localdate />
                                    <div class="button-calender" ng-click="_fromDate = !_fromDate; config.delegateEvent($event);">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="md-style-label-input">
                                Đến Ngày <span style="color:red"></span>
                            </div>
                            <div class="md-4-style-input">
                                <div class="add-input-zone">
                                    <input class="input-border-form" type="text" ng-model="target.toDate" placeholder="{{config.dateFormat}}"
                                           uib-datepicker-popup="{{config.dateFormat}}" is-open="_toDate" datepicker-localdate />
                                    <div class="button-calender" ng-click="_toDate = !_toDate; config.delegateEvent($event);">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>
                                <input type="radio" ng-model="target.stateGiveCard" value="0">

                            </label>
                            Tất cả
                            <label>
                                <input type="radio" ng-model="target.stateGiveCard" value="1">

                            </label>
                            Chưa cấp thẻ
                            <label>
                                <input type="radio" ng-model="target.stateGiveCard" value="2">

                            </label>
                            Đã cấp thẻ

                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            <div class="md-style-label-input">
                                Từ số tiền
                            </div>
                            <div class="md-4-style-input">
                                <div class="add-input-zone">

                                    <input class="input-border-form" name="_giaTien" type="text" ng-model="target.fromMoney" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="md-style-label-input">
                                Đến số tiền
                            </div>
                            <div class="md-4-style-input">
                                <div class="add-input-zone">

                                    <input class="input-border-form" name="_giaTien" type="text" ng-model="target.toMoney" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>
                                <input type="radio" ng-model="target.stateTypeMoney" value="0">

                            </label>
                            Tìm theo tổng tiền
                            <label>
                                <input type="radio" ng-model="target.stateTypeMoney" value="1">

                            </label>
                            Tiền không sale
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="md-style-label-input">
                                    Thẻ tích điểm
                                </div>
                                <div class="md-4-style-input">
                                    <div class="add-input-zone">

                                        <input class="input-border-form" name="_giaTien" type="text" ng-model="target.maThe" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="md-style-label-input">
                                    Ngày hết hạn
                                </div>
                                <div class="md-4-style-input">
                                    <div class="add-input-zone">
                                        <input class="input-border-form" type="text" ng-model="target.ngayHetHan" placeholder="{{config.dateFormat}}"
                                               uib-datepicker-popup="{{config.dateFormat}}" is-open="_ngayHetHan" datepicker-localdate />
                                        <div class="button-calender" ng-click="_ngayHetHan = !_ngayHetHan; config.delegateEvent($event);">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label>
                                    <input type="radio" ng-model="target.stateExpiredCard" value="0">

                                </label>
                                Tất cả
                                <label>
                                    <input type="radio" ng-model="target.stateExpiredCard" value="1">

                                </label>
                                Thẻ đã hết hạn


                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-md-offset-10">
                        <div class="form-group">
                            <button class="btn btn-primary form-control" ng-disabled="_form.$invalid" prevent-default ng-click="report()">Báo cáo</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>