<form></form><!-- KHông hiểu sao để thế này thì nó mới không bị lỗi T_T-->
<div>
    <div>
        <div class="modal-header">
          <h3 class="modal-title" style="color:blue;">{{title()}}</h3>
            <div class="button-close" ng-click="cancel()">
                <i class="fa fa-times-circle"></i>
            </div>
        </div>
        <div class="modal-body" ng-form name="_form">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Số chứng từ
                        </div>
                        <div class="md-4-style-input">
                            <input class="input-border-form" type="text" ng-model="target.maChungTu" maxlength="50" name="_maChungTu" required>
                            <span style="color: red" ng-show="_form._maChungTu.$dirty && _form._maChungTu.$invalid">
                                <span ng-show="_form._maChungTu.$error.required">Không được để trống</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Ngày chứng từ
                        </div>
                        <div class="md-4-style-input">
                            <div class="add-input-zone">
                                <input class="input-border-form" type="text" ng-model="target.ngayCT" placeholder="{{config.dateFormat}}"
                                       uib-datepicker-popup="{{config.dateFormat}}" is-open="_ngayct" datepicker-localdate readonly />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Khách hàng
                        </div>
                        <div class="md-4-style-input">
                            <div class="add-input-zone">
                                <input class="input-border-form" name="_makhachHang" type="text" ng-model="target.maKhachHang" typeahead-editable="false" uib-typeahead="opt.value as opt.text for opt in tempData('customers') | filter:$viewValue | limitTo:5" typeahead-on-select="selectedkhachHang($item)" typeahead-input-formatter="displayHepler($model, 'customers')" />
                                <div style="display:none" class="add-input-able" ng-click="createCustomer(target, 'makhachHang')">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Mã số thuế
                        </div>
                        <div class="md-4-style-input">
                            <input class="input-border-form" name="_maSoThue" type="text" ng-model="target.maSoThue" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="md-style-label-input">
                            Kho nhập
                        </div>
                        <div class="md-4-style-input">
                            <div class="add-input-zone">
                                <input class="input-border-form" name="_khoNhap" type="text" ng-model="target.maKhoNhap" typeahead-editable="false" typeahead-on-select="selectedKhoNhap($item)" uib-typeahead="opt.value as opt.text for opt in tempData('wareHouses') | filter:$viewValue | limitTo:5" typeahead-input-formatter="displayHepler($model, 'wareHouses')" required />
                            </div>
                            <span style="color: red" ng-show="_form._khoNhap.$dirty && _form._khoNhap.$invalid">
                                <span ng-show="_form._khoNhap.$error.required">Không được để trống</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-style-label-input">
                            Loại lý do <span style="color: red">(8)</span>
                        </div>
                        <div class="md-12-style-input">
                            <select class="input-border-form" ng-model="target.maLyDo" ng-options="opt.value as opt.text for opt in typeReasonNhaps"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-style-label-input">
                            Lý do <span style="color: red">(9)</span>
                        </div>
                        <div class="md-12-style-input">
                            <textarea class="input-border-form" style="width: 100%;" ng-model="target.noiDung" maxlength="300" rows="1"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal-body">
            <uib-tabset active="active">
                <uib-tab index="0" heading="Chi tiết">
                    <table class="table table-bordered table-hover table-condensed">
                        <thead>
                            <tr style="font-weight: bold">
                                <th style="width:3%" class="text-center">STT</th>
                                <th style="width:15%" class="text-center">Barcode</th>
                                <th style="width:5%" class="text-center">Mã hàng</th>
                                <th style="width:15%" class="text-center">Tên hàng</th>
                                <!--<th style="width:5%" class="text-center">Giá vốn</th>-->
                                <th style="width:7%" class="text-center">Số lượng bán âm</th>
                                <th style="width:7%" class="text-center">Thành tiền bán âm</th>
                                <th style="width:7%" class="text-center">Số lượng sau xử lý</th>
                                <th style="width:7%" class="text-center">Thành tiền sau xử lý</th>
                                <th style="width:5%"></th>
                            </tr>
                        </thead>
                        <tbody ng-form name="_formDetail">
                            <tr ng-if="isLoading">
                                <td colspan="16"><my-loading></my-loading></td>
                            </tr>
                            <tr ng-repeat="item in data track by $index">
                                <td class="text-center">{{$index + 1}}</td>
                                <td>
                                    <input type="text" style="text-align:center; width:100%" ng-model="item.barcode" disabled>
                                </td>
                                <td style="text-align:center">
                                    {{item.maHang}}
                                </td>
                                <td>
                                    {{item.tenHang}}
                                </td>
                                <!--<td>
                                    <input style="text-align:right; width:100%;" type="number" ng-model="item.donGia" disabled>
                                </td>-->
                                <td>
                                    <input format-number-input="number" style="text-align:right; width:100%" ng-model="item.soLuong" disabled>
                                </td>
                                <td>
                                    <div style="text-align:right" disabled>
                                        {{item.thanhTien | number}}
                                    </div>
                                </td>
                                <td>
                                    <input format-number-input="number" style="text-align:right; width:100%" ng-model="item.soluongXuLy" disabled>
                                </td>
                                <td>
                                    <div style="text-align:right" disabled>
                                        {{item.thanhTien*(-1) | number}}
                                    </div>
                                </td>
                                <td style="white-space: nowrap">
                                    <!-- form -->
                                    <div class="form-buttons form-inline">
                                        <button prevent-default type="button" style="height: 20px; line-height: 2px;background: rgba(255, 213, 93, 0.61);" ng-click="removeItem($index)" class="btn btn-default btn-sm">
                                            Xóa
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody class="tong-hop">
                            <tr>
                                <td colspan="5" right;" class="name-tong-hop">Tổng số lượng bán âm: </td>
                                <td class="value-tong-hop" style="text-align:right">{{robot.sum(dto.dataDetails, 'soLuong') | number}}</td>
                            </tr>
                            <tr>
                                <td colspan="5" class="name-tong-hop">Tổng tiền bán âm: </td>
                                <td class="value-tong-hop" style="text-align:right">{{robot.sum(dto.dataDetails,'thanhTien') | number}}</td>
                            </tr>
                            <tr>
                                <td colspan="5" class="name-tong-hop">Tổng tiền xử lý bán âm: </td>
                                <td class="value-tong-hop" style="text-align:right">{{robot.sum(dto.dataDetails,'thanhTien')*(-1) | number}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="panel-footer">
                        <uib-pagination class="no-margin-vertical pagination-sm" ng-model="paged.currentPage"
                                        ng-change="pageChanged()"
                                        items-per-page="paged.itemsPerPage" ng-show="paged.totalItems > 0" total-items="paged.totalItems" max-size="paged.pageSize"
                                        boundary-links="true" num-pages="paged.totalPage"
                                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                        </uib-pagination>
                    </div>
                </uib-tab>
            </uib-tabset>
            <div class="form-group">
                <table class="table table-inverse">
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button prevent-default type="submit" class="btn btn-primary" ng-disabled="_form.$invalid || _formDetail.$invalid" ng-click="save()">{{config.label.btnSubmit}}</button>
        <button prevent-default class="btn btn-default" ng-click="cancel()"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;{{config.label.btnCancel}}</button>
    </div>
</div>
